body{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    font-family: 'Jost', sans-serif;
    overflow: hidden;
    font-size: 30px;
    
}
::-webkit-scrollbar {
    display: none;
    }
.c1{
    width: 986px;
    height:100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.contentShiba{
    width: 100%;
    height: 80%;
    background: #f69365;
    border-radius: 0 30px 0 0;
}
.contentShiba > img{
    margin-left: 0;
}



/* COLONNE 2 */

.c2{
    width: 50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    color: #f69365;
    color: white;
}
.contentCo{
    background-color: #f69365;
    width: 70%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px ;
}
form{
    width: 300px;
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
form > input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #f69365;
    color: black ;
    font-family: 'Jost', sans-serif;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.226);
}
form > button{
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background-color: #f69365 ;
    border: 2px solid white;
    color: white ;
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
p > a{
    text-decoration: none;
    color: #f69365;
}
.endpage{
    display: flex;
    align-items: center;
    height: 300px;
}
.inscp{
    width: 220px;
    height: 40px;
    background-color: #f69365;
    border-radius: 40px;
    box-shadow: 1px 1px 1px 1px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}
p{
    color: #f69365;
    margin-right: 20px;
}